{% block main %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{googleanalytics_id}}"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}

     {% block setup %}
         gtag('set', 'linker');

         gtag('js', new Date());

         gtag('config', '{{googleanalytics_id}}', {
             anonymize_ip: true,
             linker: {
                 domains: {{ googleanalytics_linked_domains|tojson }}
             }
         });
     {% endblock setup %}

     {% block extra %}
     {% endblock extra %}

    </script>

    {% with measurement_id = h.googleanalytics_opendata_measurement_id() %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ measurement_id }}"></script>
    <script>
        var gamid = "{{ measurement_id }}";
        if(gamid !== ""){
            <!-- Google tag (gtag.js) -->
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', gamid);
        }
    </script>
    {% endwith %}
{% endblock %}
